.container {
  display: grid;
  grid-template-columns: 300px 1fr; /* Adjust the width of the sidebar as needed */
  height: 100vh; /* Full height of the viewport */
}

.editor {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  padding: 10px;
  font-size: 16px; /* Adjust as needed */
  /* Add more styles as per your design */
}

dd.folder {
  display: list-item;
  list-style-type: "📁";
  padding-inline-start: 1ch;
  cursor: pointer;
}

dd.file {
  display: list-item;
  list-style-type: "📄";
  padding-inline-start: 1ch;
  cursor: pointer;
}
